@media screen and (max-width:1355px) {
    .title {
        margin-left: calc(75px + (0 - 75) * ((100vw - 768px) / (1920 - 768)));
    }
}

@media screen and (max-width: 1024px) {
    .header .items h1 {
        font-size: 1rem;
    }
    .header .items ul li a {
        padding: 15px 10px 15px 10px;
    }
    .header .items i {
        font-size: .6rem;
    }
    .title {
        max-width: 400px;
        padding: 0 20px 30px 20px;
    }
    .title h2 {
        font-size: 1.5rem;
    }
    .title h3 {
        font-size: 1rem;
    }
    .title span {
        font-size: 1.5rem;
    }
    .btn-start {
        padding: 10px 35px;
    }
    .btn_next i {
        font-size: 2.3rem;
    }
    .btn_prev i {
        font-size: 2.3rem;
    }
    .title_aside {
        font-size: 2rem;
    }
    .aside_container {
        justify-content: center;
        text-align: center;
    }
    .img_box_aside {
        max-width: 500px;
    }
    .sidebar {
        padding-top: 35px;
    }
    .sidebar li {
        list-style: none;
        margin: 0;
        padding: 7px;
    }
    .popular_title h4 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .header .items ul {
        display: none;
    }
    .header .items {
        padding: 0 20px;
    }
    .burger_wrapper {
        display: block;
        width: 30px;
        height: 30px;
    }
    .line {
        width: 100%;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .title_aside {
        font-size: 1.5rem;
    }
    .img_box_aside {
        max-width: 400px;
    }
    .sidebar li {
        font-size: .8rem;
    }
    .yellow_line_content p {
        font-size: 1.5rem;
    }
    .container_2_content h1 {
        font-size: 1.4rem;
    }
    .container_2_content span {
        font-size: 1rem;
    }
    .container_2_content span:nth-child(2) {
        font-size: 1.4rem;
    }
    .container_2_content p {
        font-size: .8rem;
    }
    .pay_sistem_lable {
        margin: 0 10px;
    }
}
@media screen and (max-width: 600px) {
    .title {
        margin: auto;
    }
    .title h2 {
        font-size: 1rem;
        padding: 30px 0 0 0;
    }
    .title h3 {
        padding: 10px 0 10px 0;
        font-size: .7rem;
    }
    .title span {
        font-size: 1rem;
    }
    .btn-start {
        padding: 7px 15px;
        font-size: .6rem;
        margin: 0;
    }
}
@media screen and (max-width: 480px) {
    .header .items h1 {
        font-size: .9rem;
    }
    .burger_wrapper {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }
    .title {
        width: 200px;
        height: 300px;
        padding: 0 10px;
        text-align: center;
    }
    .title span {
        font-size: .8rem;
    }
    .title h2 {
        padding-top: 60px;
        padding-bottom: 30px;
        font-size: .6rem;
    }
    .title h3 {
        padding-bottom: 25px;
    }
    .btn_next i, 
    .btn_prev i {
        font-size: 1.4rem;
    }
    .img_box_aside {
        width: 300px;
    }
    .sidebar li {
        font-size: .65rem;
    }
    .popular_title h4 {
        font-size: 1rem;
    }
    .yellow_line_content p {
        font-size: 1.2rem;
        text-align: center;
    }
    .container_2_content h1 {
        font-size: 1.1rem;
        text-align: center;
    }
    .pay_sistem_lable {
        margin: 10px;
    }
}