@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.main_wrapper {
    display: block;
    width: 100%;
}



/* ---------------------------Media header--------------------------------- */

@media screen and (max-width:1200px) {
    .header_content {
        padding: 0 30px;
    }
}
@media screen and (max-width:1171px) {
    .header_content {
        display: inline-flex;
        justify-content: center;
        padding: 0 30px;
    }
    .heder_content_right {
        width: 500px;
        display: flex;
        margin-bottom: 10px;
    }
    .registration_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .registration {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
    }
}
@media screen and (max-width:1024px) {
    .header_content {
        display: inline-flex;
        justify-content: center;
        padding: 0 30px;
    } 
    .search-box {
        display: flex;
        position: relative;
        max-width: 270px;
        width: 100%;
        border-radius: 40px;
        min-height: 33px;
        height: 100%;
        background: rgba(255, 255, 255, 0.733);
        align-items: center;
        justify-content: center;
    }
    .search-txt {
        font-size: 1rem;
        transition: 0.4s;
        background: none;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        outline: none;
        width: 225px;
        color: rgb(0, 0, 0);
    }
}
@media screen and (max-width:768px) {
    .header_content {
        display: flex;
        width: 75rem;
        justify-content: center;
        align-items: center;
    }
    .search-box {
        margin-left: 20px;
    }
    .items {
        margin: 0 auto;
    }
    .nav {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:450px) {
    .registration {
        font-size: 0.7rem;
    }
    .items li a {
        font-size: 0.9rem;
    }
}
@media screen and (max-width:426px) {
    .items {
        display: none;
    }
}
@media screen and (max-width:376px){
    .registration {
        font-size: 0.7rem;
    }
    .registration img {
        width: 20px;
        height: 20px;
    }
    .registration_item {
        margin-bottom: 5%;
    }
    .search-box {
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .cart_white {
        width: 20px;
        margin-left: 5px;
    }
}
@media screen and (max-width:341px) {
    .registration {
        font-size: 0.6rem;
    }
}
@media screen and (max-width:320px){
    .nav img {
        display: none;
    }
    .registration {
        display: none;
    } 
    .search-box {
        margin: 20px auto;
    }
    .search-txt {
        width: 12.5rem;
    }
}
/* ----------------------------Container 1(logo)----------------------------------- */
.container_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(30deg, rgb(192, 153, 63) 50%, rgb(10 10 10) 50%);
    padding-top: 50px;
}
.container_1_content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}
.main_title_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.hummer-label {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    position: absolute;
    top: 35px;
    right: 70px;
}
.arrow-go-home {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 80px;
    width: 100%;
    min-height: 80px;
}
.title_box {
    max-width: 730px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    text-align: center;
}
.subTitle_text {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    flex-wrap: wrap;
    margin-top: 25px;
}
.title_text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.7rem;
    color:rgb(255, 200, 0);
    flex-wrap: wrap;
    text-shadow: 0 0 2px black;
}
/* ---------------------------------@media container 1----------------------------- */
@media screen and (max-width:1024px){
    .logo_box img:last-child {
        display: none;
    }
    .logo_box {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .logo {
        margin: 0 auto;
    }
    .text {
        margin: 0 auto;
    }
    .logo_text {
        margin: 0 auto;
    }
}
@media screen and (max-width:375px) {
    .logo {
        margin: 0 auto;
        padding: 20px;
    }
    .text {
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 20px;
    }
    .logo_text {
        margin: 0 auto;
        font-size: 2.5rem;
    }
}
/*-------------------------------- @media footer -----------------------------------*/

@media screen and (max-width:1440px) {
    .cart {
        width: 23px;
        margin-left: 5px;
    }
}
@media screen and (max-width:1024px) {
    .adress_box {
        margin: 0 auto;
    }
    .footer_head li {
        margin: 2%;
    }
}
@media screen and (max-width:1024px) {
    .cart {
        width: 23px;
        margin-left: 5px;
    }
}
@media screen and (max-width:768px) {
    .footer_head {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .adress_box {
        display: flex;
        max-width: 400px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
@media screen and (max-width: 426px) {
    .adress_box p {
        max-width: 150px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 0.7rem;
        color: white;
        margin-left: 10px;
    }
    .warning_box_content p {
        margin-left: 25px;
        margin-right: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 0.5rem;
        color: rgb(153, 133, 133);
    }
    .footer_head li {
        margin: 4%;
    }
}
@media screen and (max-width: 376px) {
    .footer_items_box {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .footer_items_box ul {
        margin: 0 auto;
        text-align: center;
    }
    .adress_box {
        display: flex;
        flex-direction: column;
    }
    .adress_box p {
        max-width: 190px;
        width: 100%;
    }
    .footer_head {
        display: block;
        text-align: center;
        margin: 0;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .footer_head li {
        margin: 4%;
    }
}
@media screen and (max-width: 320px) {
    .adress_box {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer_items_box ul {
        margin: 0 auto;
        text-align: center;
    }
    .footer_head li {
        margin: 4%;
    }
}
