@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.main_wrapper {
    display: block;
    width: 100%;
}

/* ----------------------------Container 1(logo)----------------------------------- */
.container_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}
.container_1_content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}
.main_title_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.hummer-label {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    position: absolute;
    top: 45px;
    right: 70px;
}
.arrow-go-home {
    position: absolute;
    top: 60px;
    left: 50px;
    max-width: 70px;
    width: 100%;
    min-height: 70px;
    transition: all .3s ease;
    border-radius: 50%;
}
.arrow-go-home:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -3px rgb(255, 255, 255);
}
.title_box {
    max-width: 730px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    text-align: center;
}
.subTitle_text {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    flex-wrap: wrap;
    margin-top: 25px;
}
.title_text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.7rem;
    color:rgb(255, 200, 0);
    flex-wrap: wrap;
    text-shadow: 0 0 2px black;
}
/* ---------------------------------@media container 1----------------------------- */
@media screen and (max-width:1024px){
    .logo_box img:last-child {
        display: none;
    }
    .logo_box {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .logo {
        margin: 0 auto;
    }
    .text {
        margin: 0 auto;
    }
    .logo_text {
        margin: 0 auto;
    }
}
@media screen and (max-width:375px) {
    .logo {
        margin: 0 auto;
        padding: 20px;
    }
    .text {
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 20px;
    }
    .logo_text {
        margin: 0 auto;
        font-size: 2.5rem;
    }
}


