/* ---------------------popUp-------------------- */
.pop_up_stock_burger {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-30%) scale(0);
    transition: .4s ease-in-out;
}
.pop_up_stock_burger.active {
    transform: translateY(0%) scale(100%);
}
.pop_up_container_stock_burger {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body_stock_burger {
    margin: auto;
    width: 350px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 50px 0;
    position: relative;
    margin-bottom: 50vh;
    background-color: lightgrey;
}
.pop_up_body_stock_burger a {
    display: block;
    font-family: monospace;
    font-size: 1rem;
    padding: 5px 0;
    text-transform: uppercase;
    color: black;
}
.pop_up_close_stock_burger {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    font-size: 21px;
}