body h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0;
    color: white;
}
body {
    width: 100%;
    background: url(../../images/background/cart-black.png) black;
    background-repeat: no-repeat;
    background-size: 70% 80%;
    background-position: right;
}
.card_product_box {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card_product {
    max-width: 1200px;
    width: 100%;
    min-height: 10px;
    margin-bottom: 30px;
    padding: 10px 15px; 
    background: rgb(255, 178, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_product span {
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 2px black;
}
.card_product p:nth-child(1) {
    color: rgb(110, 40, 40);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
}
.card_product p:nth-child(2) {
    color: rgb(110, 40, 40);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
}
.card_product p {
    color: rgb(40, 40, 40);
    font-family: arial;
    font-weight: 600;
}
.cart-remove {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    padding: 0 15px;
    transition: all .3s ease;
    text-transform: uppercase;
    font-size: .8rem;
    color: rgb(110, 40, 40);
}
.cart-remove i {
    color: white;
    font-size: .8rem;
    padding: 10px 13px;
    background-color: rgb(140, 40, 40);
    transition: all .3s ease;
    margin-left: 5px;
    border-radius: 3px;
}
.cart-remove i:hover {
    cursor: pointer;
    background-color: red;
}
.cart-remove-all {
    background-color: rgb(140, 40, 40);
    color: white;
    font-family: arial;
    padding: 10px 20px;
    transition: all .3s ease;
    border-radius: 3px;
    border: none;
    margin-left: 25px;
}
.cart-remove-all:hover {
    cursor: pointer;
    background-color: red;
    color: rgb(255, 255, 255);
}
.btn-pay {
    background-color: rgb(50, 70, 100);
    color: white;
    font-family: arial;
    padding: 7px 15px;
    box-shadow: 2px 2px 5px -3px black;
    transition: all .3s ease;
    border-radius: 3px;
    border: 1px solid transparent;
}
.btn-pay:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 55);
    color: black;
}
.back {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.btn-back1 {
    width: 290px;
    font-family: arial;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    transition: all .3s ease;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
.btn-back2 {
    width: 400px;
    font-family: arial;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    transition: all .3s ease;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
.btn-back1:hover {
    color: goldenrod;
}
.btn-back2:hover {
    color: goldenrod;
}
label {
    font-family: sans-serif;
    color: white;
}
label:hover {
    cursor: pointer;
}
form {
    padding-left: 25px;
}