body {
    padding-left: 20px;
    background: linear-gradient(45deg,rgb(30, 30, 30)50%,rgb(203, 162, 49)50%);
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0;
}
.card_product_box {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
.card_product {
    width: 420px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px -3px black;
    margin-right: 30px;
    padding: 15px;
    background: url(../../images/settings.png) #f3eeb7;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40% 70%;
}
.card_product p:nth-child(1) {
    color: rgb(6, 6, 80);
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
}
.card_product p:nth-child(2) {
    color: rgb(255, 0, 0);
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}
.card_product p {
    color: rgb(32, 32, 34);
    font-family: arial;
    font-weight: 600;
}
.cart-remove {
    background-color: rgb(160, 40, 40);
    color: white;
    font-family: arial;
    border: 1px solid transparent;
    padding: 8px 15px;
    box-shadow: 2px 2px 5px -3px black;
    transition: all .3s ease;
    border-radius: 3px;
}
.cart-remove:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 55);
    color: black;
    border: 1px solid black;
}
.cart-remove-all {
    background-color: rgb(140, 40, 40);
    color: white;
    font-family: arial;
    padding: 10px 20px;
    transition: all .3s ease;
    border-radius: 3px;
    border: none;
}
.cart-remove-all:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 55);
    color: black;
}
.btn-pay {
    background-color: rgb(0, 47, 255);
    color: white;
    font-family: arial;
    padding: 7px 15px;
    box-shadow: 2px 2px 5px -3px black;
    transition: all .3s ease;
    border-radius: 3px;
    border: 1px solid transparent;
}
.btn-pay:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 55);
    color: black;
}
.back {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.btn-back {
    font-family: arial;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}