body {
    padding-top: 50px;
    background: linear-gradient(45deg, rgb(255, 255, 255) 50%,rgb(40, 40, 40) 50%);
}
.section-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.title_product_list h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.price_form_garden {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {
    width: 100%;
    min-height: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(74, 74, 74);
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(120, 40, 40);
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 20px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
.btn_apply_filter_garden {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;
}
.btn_apply_filter_garden:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    outline: 1px solid black;
}

.btn_buy_garden {
    background-color: rgb(178, 49, 49);
    color: white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    padding: 7px 15px;
    transition: .3s ease;
}
.btn_buy_garden:hover {
    background: linear-gradient(15deg,rgb(0, 0, 0) 30%,rgb(0, 20, 92) 70%);
    color: rgb(255, 255, 255);
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product_box_garden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    min-height: 220px;
    box-shadow: 3px 3px 10px -5px black;
    padding: 10px;
    margin: 5px auto;
    background-color: #ffe092;
    border-radius: 4px;
}
.product_box_garden:nth-child(2) {
    background-image: url(../../images/img_tools_500x500/gazon-gardena-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.product_box_garden:nth-child(3) {
    background-image: url(../../images/img_tools_500x500/benzopila-STIHL-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(4) {
    background-image: url(../../images/img_tools_500x500/trimmer-STIHL-700x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden:nth-child(5) {
    background-image: url(../../images/img_tools_500x500/vozduhoduvka-chempion-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(6) {
    background-image: url(../../images/img_tools_500x500/moika-500x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden:nth-child(7) {
    background-image: url(../../images/trimmer-huter-500x300.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(8) {
    background-image: url(../../images/img_tools_500x500/bs-40-1-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(9) {
    background-image: url(../../images/img_tools_500x500/husqvarna-236-2-900x900.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(10) {
    background-image: url(../../images/img_tools_500x500/gazon_huter-500x500.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden:nth-child(11) {
    background-image: url(../../images/img_tools_500x500/electro/Kustorez_bosch-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden h3 {
    font-family: arial;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(13, 25, 62);
    text-transform: uppercase;
}
.product_box_garden p:nth-child(2) {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
}
.product_box_garden p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: arial;
    font-size: 1rem;
}

