body {
    padding-top: 60px;
}
.price {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(74, 74, 74);
    min-height: 50px;
    height: 100%;
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    margin-right: 30px;
    border-radius: 4px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
.btn_apply_filter_acum {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
}
.btn_apply_filter_acum:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    border: 1px solid black;
}
.h1 {
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 2rem;
    margin: 20px;
}
.btn_buy_acum {
    background-color: rgb(178, 49, 49);
    color: white;
    transition: all .3s ease;
    border-radius: 4px;
    font-family: arial;
    font-size: .9rem;
    letter-spacing: 1px;
    padding: 5px 15px;
}
.btn_buy_acum:hover {
    background:linear-gradient(25deg,black 30%,blue 70%);
}
.product_box_acum {
    border-radius: 6px;
    box-shadow: 3px 3px 10px -5px black;
    max-width: 470px;
    width: 100%;
    height: 220px;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
}
.product_box_acum h3 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(0, 20, 109);
}
.product_box_acum p:nth-child(2) {
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
    text-shadow: 1px 0 1px black;
}
.product_box_acum p {
    font-family: sans-serif;
    font-weight: bold;
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.price_form_acum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_box_acum:nth-child(2) {
    background: url(../../images/img_tools_500x500/acum/shurupovert-metabo-800x800.png) wheat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(3) {
    background: url(../../images/img_tools_500x500/acum/lobzik-bosch-1000x1000.png) wheat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(4) {
    background: url(../../images/img_tools_500x500/acum/DeWalt--600x600.png) wheat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(5) {
    background: url(../../images/img_tools_500x500/acum/circulyarka-de-walt-400x400.png) wheat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(6) {
    background: url(../../images/img_tools_500x500/acum/lenta-pila_makita-600x600.png) wheat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(7) {
    background: url(../../images/img_tools_500x500/acum/drel-mikser_makita-600x600.png) wheat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(8) {
    background: url(../../images/img_tools_500x500/acum/cirkulyarka_makita-600x600.png) #f3eeb7;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    display: flex;
    flex-direction: column;
}
.product_box_acum:nth-child(9) {
    background: url(../../images/img_tools_500x500/acum/perforator_makita-800x800.png) #f3eeb7;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    display: flex;
    flex-direction: column;
}