body {
    padding-top: 50px;
    background: linear-gradient(60deg,white 50%,rgb(40, 40, 40) 50%);
}
/* -------------------header------------------------------ */
.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform .3s linear;
    position: fixed;
    padding: 0 25px;
}
.header.hide {
    transform: translateY(-70px);
}
.items {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.items ul li {
    display: inline-block;
    margin-right: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
}
.items ul li:last-child {
    margin-right: 0;
    border-right: none;
    padding: 0 0 0 10px;
}
.items ul li a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 1px 0 2px black;
    transition: all .3s ease;
}
.items .lupa {
    color: white;
    display: none;
}
.items ul li a:hover {
    color: goldenrod;
}
.items i {
    margin-right: 5px;
    color: goldenrod;
}
.search_form {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .search i {
    position: absolute;
    top: 8px;
    left: 205px;
    color: black;
}
.search_form i {
    position: absolute;
    top: 8px;
    left: 62%;
    color: black;
    opacity: .3;
}
.search {
    width: 70%;
    height: 29px;
    border-radius: 40px 0 0 40px;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.search::placeholder {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    font-weight: 300;
}
.search-btn {
    background: rgb(120, 40, 40);
    color: white;
    padding: 3px 15px;
    border-radius:  0 4px 4px 0;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}
.search-btn:hover {
    background: goldenrod;
    cursor: pointer;
    color: black;
}

/* -------------------------------------------------------- */
.section-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.title_product_list h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(74, 74, 74);
    min-height: 50px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    background-color: goldenrod;
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    margin-right: 30px;
    border-radius: 4px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
.btn_apply_filter_electro {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
}
.btn_apply_filter_electro:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    border: 1px solid black;
}
.btn_buy_electro {
    background-color: rgb(140, 40, 40);
    color: white;
    transition: all .3s ease;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 5px 10px;
    border: 1px solid transparent;
}
.btn_buy_electro:hover {
    background: goldenrod;
    color: black;
    border: 1px solid black;
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product_box_electro, .product_box_electro-2{
    border-radius: 6px;
    box-shadow: 3px 3px 10px -5px black;
    max-width: 450px;
    width: 100%;
    min-height: 220px;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffe092 !important;
}
.product_box_electro-2 img {
    width: 220px;
    height: 220px;
}
.product_box_electro h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(140, 0, 0);
    text-transform: uppercase;
}
.product_box_electro p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: red;
    text-shadow: 1px 0 1px rgb(255, 255, 255);
}
.product_box_electro p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.price_form_electro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_box_electro:nth-child(2) {
    background: url(../../images/img_tools_500x500/electro/perforator-makita.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(3) {
    background: url(../../images/img_tools_500x500/electro/electrodrel-bosch-700x700.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(4) {
    background: url(../../images/img_tools_500x500/electro/elektrorubanok_metabo-500x500.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(5) {
    background: url(../../images/img_tools_500x500/electro/electrolobzik-zubr-500x500.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(6) {
    background: url(../../images/img_tools_500x500/electro/sabelnaya_pila-b&d-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(7) {
    background: url(../../images/img_tools_500x500/electro/fen_makita-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(8) {
    background: url(../../images/img_tools_500x500/stock/shleifmashina-makita-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(9) {
    background: url(../../images/img_tools_500x500/electro/bolgarka-makita_ga5030.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(10) {
    background: url(../../images/img_tools_500x500/electro/electrorubanok_makita-1200x1200.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 55% 110%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(11) {
    background: url(../../images/img_tools_500x500/electro/drel_metabo.1000x1000.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 55% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(12) {
    background: url(../../images/img_tools_500x500/electro/lobzik-interskol-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(13) {
    background: url(../../images/img_tools_500x500/electro/fen_iNGCO-500x500.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(14) {
    background: url(../../images/img_tools_500x500/electro/frezer_graphite-550x550.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(15) {
    background: url(../../images/img_tools_500x500/electro/kley-pistol-700x700.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(16) {
    background: url(../../images/img_tools_500x500/electro/mikser_zubr.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 55% 90%;
    display: flex;
    flex-direction: column;
}
.product_box_electro:nth-child(17) {
    background: url(../../images/img_tools_500x500/electro/otbojnyj-molotok-makita-.800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
}
/* ----------------------media------------------- */

@media screen and (max-width:1120px) {
    .items h1 {
        font-size: .9rem;
    }
    .items i {
        font-size: .8rem;
    }
    .items a {
        font-size: .9rem;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
    .footer_head li {
        margin: 10px 10px;
    }
}
@media screen and (max-width:1040px) {
    .items h1 {
        font-size: .8rem;
    }
    .items i {
        font-size: .7rem;
    }
    .items a {
        font-size: .8rem;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_electro {
        margin: 10px 0 0 0;
    }
}
@media screen and (max-width:985px) {
    .items h1 {
        font-size: .9rem;
    }
    .items i {
        font-size: .8rem;
    }
    .items a {
        font-size: .9rem;
    }
    .search {
        width: 80%;
    }
    .search-btn {
        width: 100px;
    }
    .search_form {
        width: 300px;
        display: none;
    }
    .search_form i {
        display: none;
    }
}
@media screen and (max-width:764px) {
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title_product_list h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .search_form {
        width: 350px;
        display: flex;
        align-items: center;
    }
    form {
        display: flex;
    }
    .search {
        width: 70%;
        margin-right: 5px;
    }
    .search-btn {
        width: 100px;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_electro {
        margin: 10px 0 0 0;
    }
}
@media screen and (max-width:590px) {
    .footer_head ul {
        display: block;
    }
    .search_form {
       display: none;
    }
    .items .lupa {
        color: white;
        font-size: 1.4rem;
        display: block;
    }
}