
/* -------------------header------------------------------ */
.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform .3s linear;
    position: fixed;
    padding: 0 25px;
}
.header.hide {
    transform: translateY(-70px);
}
.items {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.items ul li {
    display: inline-block;
    margin-right: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
}
.items ul li:last-child {
    margin-right: 0;
    border-right: none;
    padding: 0 0 0 10px;
}
.items ul li a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 1px 0 2px black;
    transition: all .3s ease;
}
.items > ul i {
    color: goldenrod;
    margin-right: 5px;
}
.items ul li a:hover {
    color: goldenrod;
}
.items ul li a:hover {
    color: goldenrod;
}
.items > i {
    margin-right: 5px;
    color: white;
    display: none;
}
.main_search_form {
    width: 320px;
    position: relative;
}
.main_search_form i {
    display: block;
    position: absolute;
    top: 9px;
    left: 200px;
    color: black;
    opacity: .3;
}
.search {
    width: 70%;
    height: 29px;
    border-radius: 40px 0 0 40px;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.search::placeholder {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    font-weight: 300;
}
.search-btn {
    background: rgb(120, 40, 40);
    color: white;
    padding: 3px 15px;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}
.search-btn:hover {
    background: goldenrod;
    cursor: pointer;
    color: black;
}

/* -------------------------------------------------------- */
.section-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background: rgb(235, 235, 235);
}
.title_product_list h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-top: 70px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}
.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    background-color: goldenrod;
    margin: 25px 0;
    padding: 20px 0;
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    margin-right: 30px;
    border-radius: 4px;
    padding-left: 10px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}
.btn_apply_filter_electro {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
}
.btn_apply_filter_electro:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    border: 1px solid black;
}
.btn_buy_electro {
    background-color: rgb(140, 40, 40);
    color: white;
    transition: all .3s ease;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 5px 10px;
    border: 1px solid transparent;
}
.btn_buy_electro:hover {
    background: goldenrod;
    color: black;
    border: 1px solid black;
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px 0;
}
.price_form_electro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.product_box_electro p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
.product_box_electro p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: red;
    padding-bottom: 10px;
}
.product_box_electro h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.section-1 .products_box_content .product_box_electro {
    max-width: 400px;
    width: 100%;
    height: 500px;
    box-shadow: 3px 3px 10px -5px black;
    padding: 10px;
    margin: 15px auto;
    transition: all .5s ease;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
}
.products_box_content > .product_box_electro:hover {
    transform: scale(1.05);
}
.product_box_electro:nth-child(2) {
    background: url(../../images/img_tools_500x500/electro/perforator-makita.png);
    background-size: 70% 70%;
}
.product_box_electro:nth-child(3) {
    background: url(../../images/img_tools_500x500/electro/electrodrel-bosch-700x700.png);
    background-size: 70% 70%;
}
.product_box_electro:nth-child(4) {
    background: url(../../images/img_tools_500x500/electro/elektrorubanok_metabo-500x500.png);
    background-size: 70% 70%;
}
.product_box_electro:nth-child(5) {
    background: url(../../images/img_tools_500x500/electro/electrolobzik-zubr-500x500.png);
    background-size: 70% 55%;
}
.product_box_electro:nth-child(6) {
    background: url(../../images/img_tools_500x500/electro/sabelnaya_pila-b&d-600x600.png);
    background-size: 80% 65%;
}
.product_box_electro:nth-child(7) {
    background: url(../../images/img_tools_500x500/electro/fen_makita-800x800.png);
    background-size: 85% 65%;
}
.product_box_electro:nth-child(8) {
    background: url(../../images/img_tools_500x500/stock/shleifmashina-makita-600x600.png);
    background-size: 75% 65%;
}
.product_box_electro:nth-child(9) {
    background: url(../../images/img_tools_500x500/electro/bolgarka-makita_ga5030.png);
    background-size: 80% 70%;
}
.product_box_electro:nth-child(10) {
    background: url(../../images/img_tools_500x500/electro/electrorubanok_makita-1200x1200.png);
    background-size: 85% 75%;
}
.product_box_electro:nth-child(11) {
    background: url(../../images/img_tools_500x500/electro/drel_metabo.1000x1000.png);
    background-size: 75% 60%;
}
.product_box_electro:nth-child(12) {
    background: url(../../images/img_tools_500x500/electro/lobzik-interskol-800x800.png);
    background-size: 70% 55%;
}
.product_box_electro:nth-child(13) {
    background: url(../../images/img_tools_500x500/electro/fen_iNGCO-500x500.png);
    background-size: 70% 55%;
}
.product_box_electro:nth-child(14) {
    background: url(../../images/img_tools_500x500/electro/frezer_graphite-550x550.png);
    background-size: 70% 70%;
}
.product_box_electro:nth-child(15) {
    background: url(../../images/img_tools_500x500/electro/kley-pistol-700x700.png);
    background-size: 70% 70%;
}
.product_box_electro:nth-child(16) {
    background: url(../../images/img_tools_500x500/electro/mikser_zubr.png);
    background-size: 75% 70%;
}
.product_box_electro:nth-child(17) {
    background: url(../../images/img_tools_500x500/electro/otbojnyj-molotok-makita-.800x800.png);
    background-size: 75% 65%;
}
/* ----------------------media------------------- */

@media screen and (max-width:1090px) {
    .header > .items ul li a, i, .header > .items ul li  {
        font-size: .7rem;
        border: none;
        padding: 0;
    }
    .main_search_form {
        width: 250px;
    }
    .main_search_form > .search {
        position: relative;
        width: 180px;
        height: 25px;
    }
    .main_search_form > .search-btn {
        padding: 1.5px 10px;
        border-radius: 0;
    }
    .main_search_form i {
        position: absolute;
        color: gray;
        top: 10px;
        left: 160px;
    }
}
@media screen and (max-width:1024px) {
    .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 380px;
        margin: 25px auto;
    }
    .title_product_list h1 {
        font-size: 1rem;
        padding-top: 70px;
        padding-bottom: 0;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_electro {
        margin-top: 20px;
        margin-left: 0;
    }
    .product_box_electro {
        width: 360px;
        height: 180px;
    }
}
@media screen and (max-width:768px) {
    .header > .items ul {
        display: none;
    }
    .title_product_list h1 {
        padding-top: 70px;
        padding-bottom: 0;
    }
    .burger_wrapper {
        width: 30px;
        height: 25px;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
        margin: 5px 0;
    }
    .main_search_form {
        width: 250px;
    }
    .main_search_form > .search {
        position: relative;
        width: 180px;
        height: 27px;
    }
    .main_search_form > .search-btn {
        padding: 2px 8px;
        border-radius: 0;
    }
    .main_search_form i {
        position: absolute;
        color: gray;
        top: 10px;
        left: 160px;
    }
    .products_box_content > .product_box_electro {
        height: 180px;
    }
    .product_box_electro {
        width: 270px;
    }
    .product_box_electro h3 {
        font-size: .8rem;
    }
    .product_box_electro p:nth-child(2) {
        font-size: .8rem;
    }
    .product_box_electro p {
        font-size: .8rem;
    }
    .btn_buy_electro {
        padding: 3px 5px;
        border-radius: 0;
        text-transform: uppercase;
        font-size: .7rem;
        padding: 4px 10px;
    }
}
@media screen and (max-width:600px) {
    .title_product_list h1 {
        font-size: 1.2rem;
        font-weight: normal;
    }
    .product_box_electro {
        width: 400px;
    }
    .product_box_electro h3 {
        font-size: 1rem;
    }
    .product_box_electro p:nth-child(2) {
        font-size: .9rem;
    }
    .product_box_electro p {
        font-size: .9rem;
    }
    .btn_buy_electro {
        padding: 3px 5px;
        border-radius: 0;
    }
}
@media screen and (max-width:480px) {
    .title_product_list h1 {
        font-size: .8rem;
        padding-top: 80px;
        color: black;
        text-align: center;
    }
    body .section-1 .products_box_content .product_box_electro {
        height: 420px;
        width: 280px;  
    }
    .products_box_content > .product_box_electro h3 {
        font-size: .7rem;
    }
    .products_box_content > .product_box_electro p {
        font-size: .7rem;
    }
    .price {
        width: 250px;
    }
    .min_price {
        width: 170px;
    }
    .max_price {
        width: 170px;
    }
    .main_search_form {
        display: none;
    }
    .header > .items i {
        display: block;
        color: white;
        font-size: 1rem;
    }
    .btn_buy_electro {
        text-transform: uppercase;
        font-size: .6rem;
        padding: 4px 10px;
    }
}