body {
    padding-top: 50px;
    background: linear-gradient(45deg, rgb(255, 255, 255) 50%,rgb(40, 40, 40) 50%);
}
.section-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
/* -------------------header------------------------------ */
.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform .3s linear;
    position: fixed;
    padding: 0 25px;
}
.header.hide {
    transform: translateY(-70px);
}
.items {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.items ul li {
    display: inline-block;
    margin-right: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
}
.items ul li:last-child {
    margin-right: 0;
    border-right: none;
    padding: 0 0 0 10px;
}
.items ul li a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 1px 0 2px black;
    transition: all .3s ease;
}
.items > ul i {
    color: goldenrod;
    margin-right: 5px;
}
.items ul li a:hover {
    color: goldenrod;
}
.items ul li a:hover {
    color: goldenrod;
}
.items > i {
    margin-right: 5px;
    color: white;
    display: none;
}
.search_form {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_form i {
    position: absolute;
    top: 8px;
    left: 62%;
    color: rgb(190, 190, 190);
}
.search {
    width: 70%;
    height: 29px;
    border-radius: 40px 0 0 40px;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.search::placeholder {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    font-weight: 300;
}
.search-btn {
    background: rgb(120, 40, 40);
    color: white;
    padding: 3px 15px;
    border-radius:  0 4px 4px 0;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}
.search-btn:hover {
    background: goldenrod;
    cursor: pointer;
    color: black;
}
/* ------------------------------------------------------ */
.title_product_list h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.price {
    width: 100%;
    min-height: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(74, 74, 74);
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    background-color: goldenrod;
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 20px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
.btn_apply_filter_garden {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;
}
.btn_apply_filter_garden:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    outline: 1px solid black;
}

.btn_buy_garden {
    background-color: rgb(160, 40, 40);
    color: white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 7px 15px;
    transition: .3s ease;
    border: 1px solid transparent;
}
.btn_buy_garden:hover {
    background: goldenrod;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product_box_garden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    min-height: 220px;
    box-shadow: 3px 3px 10px -5px black;
    padding: 10px;
    margin: 5px auto;
    background-color: #ffe092;
    border-radius: 4px;
}
.product_box_garden:nth-child(2) {
    background-image: url(../../images/img_tools_500x500/gazon-gardena-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.product_box_garden:nth-child(3) {
    background-image: url(../../images/img_tools_500x500/benzopila-STIHL-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(4) {
    background-image: url(../../images/img_tools_500x500/trimmer-STIHL-700x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden:nth-child(5) {
    background-image: url(../../images/img_tools_500x500/vozduhoduvka-chempion-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(6) {
    background-image: url(../../images/img_tools_500x500/moika-500x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden:nth-child(7) {
    background-image: url(../../images/img_tools_500x500/trimmer-huter-500x300.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(8) {
    background-image: url(../../images/img_tools_500x500/bs-40-1-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(9) {
    background-image: url(../../images/img_tools_500x500/husqvarna-236-2-900x900.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
.product_box_garden:nth-child(10) {
    background-image: url(../../images/img_tools_500x500/gazon_huter-500x500.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}
.product_box_garden:nth-child(11) {
    background-image: url(../../images/img_tools_500x500/electro/Kustorez_bosch-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    order: 1;
}
.product_box_garden h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(140, 0, 0);
    text-transform: uppercase;
}
.product_box_garden p:nth-child(2) {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 0 1px rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.product_box_garden p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: arial;
    font-size: 1rem;
}

/* ----------------------media------------------- */

@media screen and (max-width:1120px) {
    .items h1 {
        font-size: .9rem;
    }
    .items > ul i {
        font-size: .8rem;
    }
    .items a {
        font-size: .9rem;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
    .footer_head li {
        margin: 10px 10px;
    }
}
@media screen and (max-width:1071px) {
    .items h1 {
        font-size: .8rem;
    }
    .items > ul i {
        font-size: .8rem;
    }
    .items a {
        font-size: .8rem;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_garden {
        margin: 10px 0 0 0;
    }
    .search_form {
        display: none;
    }
    .items > i {
        display: block !important;
        color: white;
        font-size: 1.3rem;
        margin-right: 20px;
    }
}
@media screen and (max-width:985px) {
    .items h1 {
        font-size: .8rem;
    }
    .items > ul i {
        font-size: .8rem;
    }
    .items a {
        font-size: .8rem;
    }
}
@media screen and (max-width:740px) {
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title_product_list h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_garden {
        margin: 10px 0 0 0;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width:590px) {
    .footer_head ul {
        display: block !important;
    }
    .search_form {
       display: none;
    }
}