* {
    box-sizing: border-box;
}
body {
   /* background:linear-gradient(rgb(141, 141, 237)60%,rgb(222, 224, 235)); */
   background:linear-gradient(45deg,rgb(30, 30, 30)50%,rgb(255, 192, 31)50%);
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-family: arial;
    color: rgb(35, 35, 35);
}
.select-category {
    height: 35px;
}
.input-str {
    height: 35px;
}
.btn-add_product {
    width: 200px;
    height: 35px;
    margin: 0 auto;
    border-radius: 8px;
}
.forms_product {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    margin: 50px auto;
}
.success {
    color: green;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}
.error {
    color: red;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}
.error-2 {
    color: red;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 25px;
    margin-top: -30px;
}
.error-2 span {
    color: red;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
