body {
    padding-top: 50px;
    background: linear-gradient(50deg,white 50%,rgb(40, 40, 40) 50%);
}
.section-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
/* -------------------header------------------------------ */
.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform .3s linear;
    position: fixed;
    padding: 0 25px;
}
.header.hide {
    transform: translateY(-70px);
}
.items {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.items ul li {
    display: inline-block;
    margin-right: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
}
.items ul li:last-child {
    margin-right: 0;
    border-right: none;
    padding: 0 0 0 10px;
}
.items ul li a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 1px 0 2px black;
    transition: all .3s ease;
}
.items > ul i {
    color: goldenrod;
    margin-right: 5px;
}
.items > ul > li a:hover {
    color: goldenrod;
}
.items > i {
    color: white;
    display: none;
}
.search_form {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_form i {
    position: absolute;
    top: 8px;
    left: 62%;
    color: black;
    opacity: .3;
    display: block !important;
}
.search {
    width: 70%;
    height: 29px;
    border-radius: 40px 0 0 40px;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.search::placeholder {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    font-weight: 300;
}
.search-btn {
    background: rgb(120, 40, 40);
    color: white;
    padding: 3px 15px;
    border-radius:  0 4px 4px 0;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}
.search-btn:hover {
    background: goldenrod;
    cursor: pointer;
    color: black;
}
/* ------------------------------------------------------ */
.title_product_list h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.fa-magnifying-glass {
    display: none !important;
}
.price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(74, 74, 74);
    min-height: 50px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    background-color: goldenrod;
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    margin-right: 30px;
    border-radius: 4px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
.btn_apply_filter_acum {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    border: 1px solid white;
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
}
.btn_apply_filter_acum:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    border: 1px solid black;
}
.btn_buy_acum {
    background-color: rgb(160, 40, 40);
    color: white;
    transition: all .3s ease;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 5px 15px;
    transition: all .3s ease;
    border: 1px solid transparent;
}
.btn_buy_acum:hover {
    background: goldenrod;
    color: black;
    border: 1px solid black;
}
.product_box_acum {
    border-radius: 4px;
    box-shadow: 3px 3px 10px -5px black;
    max-width: 450px;
    width: 100%;
    min-height: 220px;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffe092 !important;
}
.product_box_acum h3 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(140, 0, 0);
}
.product_box_acum p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
    text-shadow: 1px 0 1px rgb(255, 255, 255);
}
.product_box_acum p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(40, 40, 40);
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.price_form_acum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_box_acum:nth-child(2) {
    background: url(../../images/img_tools_500x500/acum/shurupovert-metabo-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(3) {
    background: url(../../images/img_tools_500x500/acum/lobzik-bosch-1000x1000.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(4) {
    background: url(../../images/img_tools_500x500/acum/DeWalt--600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(5) {
    background: url(../../images/img_tools_500x500/acum/circulyarka-de-walt-400x400.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(6) {
    background: url(../../images/img_tools_500x500/acum/lenta-pila_makita-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(7) {
    background: url(../../images/img_tools_500x500/acum/drel-mikser_makita-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_box_acum:nth-child(8) {
    background: url(../../images/img_tools_500x500/acum/cirkulyarka_makita-600x600.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    display: flex;
    flex-direction: column;
}
.product_box_acum:nth-child(9) {
    background: url(../../images/img_tools_500x500/acum/perforator_makita-800x800.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 80%;
    display: flex;
    flex-direction: column;
}
.product_box_acum:nth-child(10) {
    background: url(../../images/img_tools_500x500/acum/HIKOKI-DS12DA.500x400.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    display: flex;
    flex-direction: column;
}

/* ----------------------media------------------- */

@media screen and (max-width:1120px) {
    .items h1 {
        font-size: .9rem;
    }
    .items > ul i {
        font-size: .8rem;
    }
    .items a {
        font-size: .9rem;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
    .footer_head li {
        margin: 10px 10px;
    }
}
@media screen and (max-width:1071px) {
    .items h1 {
        font-size: .8rem;
    }
    .items > ul i {
        font-size: .8rem;
    }
    .items a {
        font-size: .8rem;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_acum {
        margin: 10px 0 0 0;
    }
    .search_form {
        display: none;
    }
    .items > i {
        display: block !important;
        color: white;
        font-size: 1.3rem;
        margin-right: 20px;
    }
}
@media screen and (max-width:985px) {
    .items h1 {
        font-size: .8rem;
    }
    .items > ul i {
        font-size: .8rem;
    }
    .items a {
        font-size: .8rem;
    }
}
@media screen and (max-width:740px) {
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title_product_list h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_acum {
        margin: 10px 0 0 0;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width:590px) {
    .footer_head ul {
        display: block !important;
    }
    .search_form {
       display: none;
    }
}