
.section-1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background: rgb(235,235,235);
}
/* -------------------header------------------------------ */
.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform .3s linear;
    position: fixed;
    padding: 0 25px;
}
.header.hide {
    transform: translateY(-70px);
}
.items {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.items ul li {
    display: inline-block;
    margin-right: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
}
.items ul li:last-child {
    margin-right: 0;
    border-right: none;
    padding: 0 0 0 10px;
}
.items ul li a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 1px 0 2px black;
    transition: all .3s ease;
}
.items > ul i {
    color: goldenrod;
    margin-right: 5px;
}
.items ul li a:hover {
    color: goldenrod;
}
.items ul li a:hover {
    color: goldenrod;
}
.items > i {
    margin-right: 5px;
    color: white;
    display: none;
}
.main_search_form {
    width: 320px;
    position: relative;
}
.main_search_form i {
    display: block;
    position: absolute;
    top: 9px;
    left: 200px;
    color: black;
    opacity: .3;
}
.search {
    width: 70%;
    height: 29px;
    border-radius: 40px 0 0 40px;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.search::placeholder {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    font-weight: 300;
}
.search-btn {
    background: rgb(120, 40, 40);
    color: white;
    padding: 3px 15px;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}
.search-btn:hover {
    background: goldenrod;
    cursor: pointer;
    color: black;
}
/* ------------------------------------------------------ */
.title_product_list h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-top: 80px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}
.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    background-color: goldenrod;
    margin: 25px 0;
    padding: 20px 0;
}
.min_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 20px;
    padding-left: 10px;
}
.max_price {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}
.btn_apply_filter_acum {
    width: 150px;
    height: 30px;
    background-color: rgb(50, 50, 95);
    color: white;
    margin-left: 30px;
    border-radius: 4px;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;
}
.btn_apply_filter_acum:hover {
    background-color: rgb(223, 193, 73);
    color: black;
    outline: 1px solid black;
}
.btn_buy_acum {
    background-color: rgb(160, 40, 40);
    color: white;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    padding: 7px 15px;
    transition: .3s ease;
    border: 1px solid transparent;
}
.btn_buy_acum:hover {
    background: goldenrod;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.products_box_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px 0;
}
.section-1 > .products_box_content > .product_box_acum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    height: 200px;
    box-shadow: 3px 3px 10px -5px black;
    padding: 10px;
    margin: 15px auto;
    transition: all .3s ease;
    background-color: white;
    background-position: right;
    background-repeat: no-repeat;
}
.section-1 > .products_box_content > .product_box_acum h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.section-1 > .products_box_content > .product_box_acum p:nth-child(2) {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: red;
}
.section-1 > .products_box_content > .product_box_acum p {
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}
.section-1 > .products_box_content > .product_box_acum:hover {
    transform: scale(1.05);
}
.product_box_acum:nth-child(2) {
    background: url(../../images/img_tools_500x500/acum/shurupovert-metabo-800x800.png);
    background-size: 50% 90%;
}
.product_box_acum:nth-child(3) {
    background: url(../../images/img_tools_500x500/acum/lobzik-bosch-1000x1000.png);
    background-size: 50% 90%;
}
.product_box_acum:nth-child(4) {
    background: url(../../images/img_tools_500x500/acum/DeWalt--600x600.png);
    background-size: 50% 90%;
}
.product_box_acum:nth-child(5) {
    background: url(../../images/img_tools_500x500/acum/circulyarka-de-walt-400x400.png);
    background-size: 50% 90%;
}
.product_box_acum:nth-child(6) {
    background: url(../../images/img_tools_500x500/acum/lenta-pila_makita-600x600.png);
    background-size: 50% 90%;
}
.product_box_acum:nth-child(7) {
    background: url(../../images/img_tools_500x500/acum/drel-mikser_makita-600x600.png);
    background-size: 50% 90%;
}
.product_box_acum:nth-child(8) {
    background: url(../../images/img_tools_500x500/acum/cirkulyarka_makita-600x600.png);
    background-size: 50% 80%;
}
.product_box_acum:nth-child(9) {
    background: url(../../images/img_tools_500x500/acum/perforator_makita-800x800.png);
    background-size: 50% 80%;
   
}
.product_box_acum:nth-child(10) {
    background: url(../../images/img_tools_500x500/acum/HIKOKI-DS12DA.500x400.png);
    background-size: 50% 90%;
}

/* ----------------------media------------------- */

@media screen and (max-width:1090px) {
    .header > .items ul li a, i, .header > .items ul li  {
        font-size: .8rem;
        border: none;
        padding: 0;
    }
    .main_search_form {
        width: 220px;
    }
    .main_search_form > .search {
        position: relative;
        width: 150px;
    }
    .main_search_form > .search-btn {
        padding: 3px 10px;
        border-radius: 0;
    }
    .main_search_form i {
        position: absolute;
        color: gray;
        top: 10px;
        left: 130px;
    }
}
@media screen and (max-width:1024px) {
    .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 380px;
        margin: 25px auto;
    }
    .min_price {
        margin: 0;
    }
    .btn_apply_filter_acum {
        margin-top: 20px;
        margin-left: 0;
    }
    .product_box_acum {
        width: 360px;
        height: 180px;
    }
}
@media screen and (max-width:768px) {
    .header > .items ul {
        display: none;
    }
    .title_product_list h1 {
        padding-top: 25px;
    }
    .burger_wrapper {
        width: 30px;
        height: 25px;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
        margin: 5px 0;
    }
    .main_search_form {
        width: 250px;
    }
    .main_search_form > .search {
        position: relative;
        width: 180px;
        height: 27px;
    }
    .main_search_form > .search-btn {
        padding: 2px 8px;
        border-radius: 0;
    }
    .main_search_form i {
        position: absolute;
        color: gray;
        top: 10px;
        left: 160px;
    }
    .title_product_list h1 {
        font-size: 1.2rem;
        font-weight: normal;
        padding-top: 70px;
    }
    .product_box_acum {
        height: 130px;
        width: 270px;
    }
    .product_box_acum h3 {
        font-size: .7rem;
    }
    .product_box_acum p:nth-child(2) {
        font-size: .7rem;
    }
    .product_box_acum p {
        font-size: .7rem;
    }
    .btn_buy_acum {
        padding: 3px 5px;
        border-radius: 0;
        text-transform: uppercase;
        font-size: .7rem;
        padding: 4px 10px;
    }
}
@media screen and (max-width:600px) {
    .title_product_list h1 {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
    }
    .product_box_acum {
        height: 200px;
        width: 400px;
    }
    .product_box_acum h3 {
        font-size: 1rem;
    }
    .product_box_acum p:nth-child(2) {
        font-size: .9rem;
    }
    .product_box_acum p {
        font-size: .9rem;
    }
    .btn_buy_acum {
        padding: 3px 5px;
        border-radius: 0;
    }
}
@media screen and (max-width:480px) {
    .title_product_list h1 {
        font-size: .8rem;
        padding-top: 80px;
        color: black;
        text-align: center;
    }
    .section-1 > .products_box_content > .product_box_acum {
        height: 150px;
        width: 270px;
    }
    .section-1 > .products_box_content > .product_box_acum h3 {
        font-size: .7rem;
    }
    .section-1 > .products_box_content > .product_box_acum p:nth-child(2) {
        font-size: .7rem;
    }
    .section-1 > .products_box_content > .product_box_acum p {
        font-size: .7rem;
    }
    .price {
        width: 250px;
    }
    .min_price {
        width: 170px;
    }
    .max_price {
        width: 170px;
    }
    .main_search_form {
        display: none;
    }
    .header > .items i {
        display: block;
        color: white;
        font-size: 1rem;
    }
    .btn_buy_acum {
        text-transform: uppercase;
        font-size: .6rem;
        padding: 4px 10px;
    }
}