.product_box {
    box-shadow: 3px 3px 10px -5px black;
    max-width: 420px;
    width: 100%;
    height: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../../images/icons/yellow-hummer-2.png)white;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 35% 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(50, 50, 50);
    padding: 10px 15px;
}
.products_box_content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 50px 10px 50px 10px;
}
.not_found {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: red;
    text-align: center;
    padding: 150px;
    margin: 30px;
    background-color: beige;
}
.product_box h3 {                           /* name */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.product_box p:nth-child(2) {           /* price */
    color: red;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.btn_buy {
    background-color: rgb(170, 50, 50);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    transition: all .3s ease;
    box-shadow: 3px 3px 5px -3px black;
}
.btn_buy:hover {
    background-color: goldenrod;
    color: black;
}

@media screen and (max-width: 1120px) {
    .items li {
        font-size: .7rem;
    }
    .items i {
        font-size: .6rem;
    }
}
@media screen and (max-width: 1024px) {
    .search_form {
        display: none !important;
    }
    .items {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 630px) {
    .items ul {
        display: none;
    }
    .burger_wrapper {
        display: block;
        width: 35px;
        height: 35px;
    }
    .line {
        width: 100%;
        height: 3px;
        margin: 6px 0;
        background: white;
    }
    .footer_head ul {
        display: block !important;
    }
}