.product_box {
    border-radius: 6px;
    box-shadow: 3px 3px 10px -5px black;
    max-width: 420px;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../../images/yellow-hummer-4.png)#f3eeb7;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 35% 70%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}
.products_box_content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.not_found {
    font-family: arial;
    font-size: 2rem;
    color: red;
    text-align: center;
    padding: 50px;
    margin: 30px;
    background-color: beige;
}
.product_box p:nth-child(2) {
    color: red;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 1px 0 1px black;
}
.product_box h3 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(11, 10, 50);
}
.btn_buy {
    background-color: rgb(120, 40, 40);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    transition: all .3s ease;
    box-shadow: 3px 3px 5px -3px black;
}
.btn_buy:hover {
    background-color: rgb(50, 80, 120);
}