.container_1 {
    background: url(../images/background/vkhod-vykhod-chelovek-entrance-exit-person-antonyus-bunjamin.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.container_1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
} 
.burger_wrapper {
    width: 33px;
    height: 25px;
    padding: 2px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width: 100%;
    height: 3px;
    background: white;
}
.text_enter_title h2 {
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
}
                            /* enter box */
.enter_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px -5px black;
    background: linear-gradient(45deg,rgba(190, 190, 190, 0.5) 30%,rgba(100, 100, 100, 0.5) 75%);
}
.form_enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.form_enter input {
    width: 210px;
    height: 35px;
    box-shadow: 3px 5px 15px -5px black;
    margin: -15px 0;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}
.form_enter label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}
.form_enter input::placeholder {
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
}
.btn_login {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: .85rem;
    color: rgb(255, 255, 255);
    box-shadow: 3px 5px 10px -3px black;
    background-color: rgb(40, 50, 75);
    transition: all .3s;
    margin-top: 25px;
    margin-bottom: -15px;
    outline: 2px solid white;
    padding: 10px 25px;
}
.btn_login:hover {
    background-color: goldenrod;
    color: rgb(0, 0, 0);
}
.hidden_checkbox {
    display: none;
}
.label_check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}


/* -------------------------------------------------------------------------- */
                            /* Chekbox */

.label {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.hidden_checkbox {
    -webkit-appearance: none;
}
.fake_checkbox {
    display: inline-flex;
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    margin-left: -7px;
}
.fake_checkbox::before {
    content: "";
    position: absolute;
    display: flex;
    background:black;
    border-radius: 50%;
    opacity: 0;
}
.hidden_checkbox:checked + .fake_checkbox::before {
    opacity: 1;
    width: 8px;
    height: 8px;
}
/* ----------------------------------------------------------------- */

@media screen and (max-width:1050px) {
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
}
@media screen and (max-width:1024px) {
    .header .items h1 {
        font-size: 1rem;
    }
    .header .items ul li a {
        font-size: .8rem;
    }
    .header .items i {
        font-size: .7rem;
    }
    .header .items ul li {
        padding: 0;
        border: none;
        padding-bottom: 4px;
    }
    .header .items ul li:last-child {
        padding: 0;
    }
    .header .items ul li:first-child {
        padding: 0 0 4px 0;
    }
    .title_box .subTitle_text {
        font-size: 1.5rem;
    }
    .title_box .title_text {
        font-size: 2rem;
    }
    .text_enter_title h2 {
        padding-top: 10px;
    }
}
@media screen and (max-width:768px) {
    .header .items h1 {
        font-size: .8rem;
    }
    .header .items ul li a {
        font-size: .7rem;
    }
    .header .items i {
        font-size: .6rem;
    }
    .title_box .subTitle_text {
        font-size: 1.2rem;
    }
    .title_box .title_text {
        font-size: 2rem;
    }
}
@media screen and (max-width:600px) {
    .header .items ul {
        display: none;
    }
    .items .burger_wrapper {
        width: 30px;
        height: 22px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
}
@media screen and (max-width:480px) {
    .title_box .subTitle_text {
        font-size: .9rem;
    }
    .title_box .title_text {
        font-size: 1.5rem;
    }
    .text_enter_title h2 {
        font-size: 1.3rem;
    }
    .btn_login {
        padding: 7px 20px;
        font-size: .7rem;
    }
    .fake_checkbox {
        width: 10px;
        height: 10px;
    }
    .label_check p {
        font-size: .8rem;
    }
    .form_enter input {
        width: 200px;
        height: 30px;
    }
    .form_enter label {
        font-size: .8rem;
        margin-bottom: 20px;
    }
    .form_enter input::placeholder {
        font-size: .8rem;
    }
    .enter_box {
        width: 250px;
        height: 350px;
    }
}