.burger_wrapper {
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width: 100%;
    height: 3px;
    background: black;
    margin: 5px;
}
.main_wrapper .container_1 {
    background: url(../images/background/pechatnaia-mashinka-listy-ochki.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container_1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_registration_title h2 {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}
.registration_box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    width: 100%;
    background: linear-gradient(45deg, rgba(177, 177, 177, 0.829) 30%,#b3b3b3cf 64%);
    margin-bottom: 50px;
    box-shadow: 3px 3px 10px -5px black;
}
.form_regestration {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.form_regestration .input::placeholder {
    color: gray;
    text-indent: 5px;
}
.input {
    width: 240px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 5px 15px -5px black;
    padding: 0 10px;
}
.label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
}
.btn_reg {
    padding: 15px 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 50, 75);
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: all 0.3s ease;
    box-shadow: 3px 5px 10px -3px black;
    outline: 2px solid rgb(255, 255, 255);
}
.btn_reg:hover {
    background-color: goldenrod;
    color: rgb(0, 0, 0);
}
.label_reg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.label_reg p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.hidden_checkbox {
    -webkit-appearance: none;
}
.fake_checkbox {
    display: inline-flex;
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -7px;
}
.fake_checkbox::before {
    content: "";
    position: absolute;
    display: flex;
    background:black;
    border-radius: 50%;
    opacity: 0;
}
.hidden_checkbox:checked + .fake_checkbox::before {
    opacity: 1;
    width: 8px;
    height: 8px;
}


@media screen and (max-width:1050px) {
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
}
@media screen and (max-width:1024px) {
    .header .items h1 {
        font-size: .8rem;
        padding-top: 4px;
    }
    .header .items ul li {
        border: none;
    }
    .header .items ul li a {
        font-size: .8rem;
    }
    .title_box .subTitle_text {
        font-size: 1.5rem;
    }
    .title_box .title_text {
        font-size: 2rem;
    }
    .items .burger_wrapper {
        display: block;
    }
}
@media screen and (max-width:768px) {
    .header .items h1 {
        font-size: .7rem;
        padding-top: 4px;
    }
    .header .items ul li a {
        font-size: .7rem;
    }
    .header .items ul li {
        padding: 0;
    }
    .header .items i {
        font-size: .6rem;
    }
    .title_box .subTitle_text {
        font-size: 1.3rem;
    }
    .title_box .title_text {
        font-size: 2rem;
    }
    .text_registration_title h2 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width:600px) {
    .header .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 28px;
        height: 20px;
        padding: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .title_box .subTitle_text {
        font-size: 1rem;
    }
    .text_registration_title h2 {
        padding-top: 10px;
    }
    .registration_box {
        width: 85%;
    }
    .input {
        width: 210px;
    }
    .input::placeholder {
        font-size: .8rem;
    }
    .btn_reg {
        padding: 10px 10px;
        font-size: .7rem;
    }
    .fake_checkbox {
        width: 10px;
        height: 10px;
    }
    .label_reg p {
        font-size: .8rem;
    }
    .label {
        font-size: .8rem;
    }
}
@media screen and (max-width:480px) {
    .title_box .subTitle_text {
        font-size: .8rem;
    }
    .title_box .title_text {
        font-size: 1.5rem;
    }
    .text_registration_title h2 {
        font-size: 1rem;
    }
    .input {
        width: 200px;
    }
    .btn_reg {
        padding: 8px 7px;
        font-size: .6rem;
    }
}