.container_1 {
    background: url(../images/background/pechatnaia-mashinka-listy-ochki.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(35deg, rgb(255, 255, 255) 50%,rgb(40, 40, 40)50%) !important; */
}
.container_1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_registration_title h2 {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
}
.registration_box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    width: 100%;
    min-height: 550px;
    background: linear-gradient(45deg, rgba(200, 200, 200, 0.5) 30%,#626262a5 64%);
    margin-bottom: 50px;
    box-shadow: 3px 3px 10px -5px black;
}
.form_regestration {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_regestration .input::placeholder {
    color: gray;
    text-indent: 5px;
}
.input {
    width: 240px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 5px 15px -5px black;
    padding: 0 10px;
}
.label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
}
.btn_reg {
    width: 190px;
    height: 50px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 67, 140);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 30px;
    transition: all 0.3s ease;
    box-shadow: 3px 5px 15px -5px black;
}
.btn_reg:hover {
    background-color: rgb(120, 40, 40);
    color: white;
}
.label_reg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.label_reg p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.hidden_checkbox {
    -webkit-appearance: none;
}
.fake_checkbox {
    display: inline-flex;
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -7px;
}
.fake_checkbox::before {
    content: "";
    position: absolute;
    display: flex;
    background:black;
    border-radius: 50%;
    opacity: 0;
}
.hidden_checkbox:checked + .fake_checkbox::before {
    opacity: 1;
    width: 8px;
    height: 8px;
}


@media screen and (max-width:1050px) {
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
}
@media screen and (max-width:976px) {
    .items h1 {
        font-size: .9rem;
    }
    .items i {
        font-size: .8rem;
    }
    .items a {
        font-size: .9rem;
    }
}
@media screen and (max-width: 820px) {
    .header {
        flex-wrap: nowrap;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .title_text {
        font-size: 2.3rem;
    }
    .subTitle_text {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 700px) {
    .footer_head ul {
        display: block;
    }
    .footer_head ul li {
        margin: 10px;
    }
}
@media screen and (max-width: 535px) {
    .title_text {
        font-size: 2rem;
    }
    .subTitle_text {
        font-size: 1.2rem;
    }
    .text_registration_title h2 {
        font-size: 1.2rem;
        padding-top: 15px;
    }
    .registration_box {
        width: 350px;
    }
    .btn_reg {
        width: 150px;
        height: 40px;
        font-size: .8rem;
    }
}
@media screen and (max-width: 400px) {
    .title_text {
        font-size: 1.8rem;
    }
    .subTitle_text {
        font-size: 1.2rem;
    }
    .text_registration_title h2 {
        font-size: 1rem;
        padding-top: 15px;
    }
    .registration_box {
        width: 310px;
    }
    .adress_box p {
        text-align: center;
    }
}