.wrapper_dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url(../images/background/pismo-igrushki-poslanie-prazdnik.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
.container {
    padding-bottom: 50px;
}
.text-center {
    padding-top: 40px;
}
.form-group-3 {
    text-align: right;
}
.col-lg-6 > form {
    margin-top: 15px;
}
.out {
    overflow: auto;
    height: 400px;
    order: 1;
}
.input {
    order: 2;
}
.form-control {
    height: 50px;
}
.btn-danger {
    width: 200px;
    height: 50px;
}
.btn-primary {
    width: 200px;
    height: 50px;
}
.pop_up_container .pop_up_body {
    margin: auto;
    width: 350px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 50px 0;
    position: relative;
    margin-bottom: 50vh;
    background-color: lightgrey;
}
@media screen and (max-width: 1050px) {
    .header > .items h1 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1024px) {
    .header .items ul li a {
        font-size: .8rem;
    }
    .header .items i {
        font-size: .7rem;
    }
    .header .items ul li {
        padding: 0 0 4px 0;
        border: none;
    }
    .header .items h1 {
        font-size: .8rem;
    }
    .out {
        order: 2;
    }
    .input {
        order: 1;
    }
}
@media screen and (max-width: 768px) {
    .header .items ul li a {
        font-size: .6rem;
    }
    .header .items i {
        font-size: .6rem;
    }
    .header .items h1 {
        font-size: .6rem;
        padding-top: 4px;
    }
    .header .items ul {
        max-width: 250px;
    }
}
@media screen and (max-width: 600px) {
    .header .items ul {
        display: none;
    }
    .header .items h1 {
        font-size: 1rem;
        padding-top: 4px;
    }
    .items .burger_wrapper {
        display: block;
        width: 35px;
        height: 35px;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
        margin: 5px;
    }
}