.header > .items ul {
    margin-bottom: 0;
}
.header > .items h1 {
    margin-bottom: 0;
}
.header > .items ul li a {
    text-decoration: none;
}
.wrapper_dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url(../images/background/pismo-igrushki-poslanie-prazdnik.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
.container {
    padding-bottom: 50px;
}
.text-center {
    padding-top: 40px;
}
.form-group-3 {
    text-align: right;
}
.col-lg-6 > form {
    margin-top: 15px;
}
.form-control {
    height: 50px;
}
.btn-primary {
    width: 200px;
    height: 50px;
}
.footer_head ul li a {
    text-decoration: none;
    font-weight: 600;
}
.footer_items_box ul {
    font-weight: bold;
}
.footer_items_box ul a {
    text-decoration: none;
}
@media screen and (max-width: 1051px) {
    .header > .items h1 {
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 990px) {
    .header > .items ul li a {
        font-size: .8rem;
    }
    .header > .items i {
        font-size: .8rem;
    }
    .header > .items ul li {
        border: 0;
    }
}
@media screen and (max-width: 875px) {
    .header > .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
}