.section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background: linear-gradient(45deg, rgb(218, 218, 218) 30%, rgb(181, 181, 181) 60%);
}
.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}
.container h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 25px 0;
    width: 100%;
}
.description_box {
    max-width: 600px;
    width: 100%;
    display: flex;
}
.options {
    max-width: 300px;
    width: 100%;
}
.description_box ul li {
    list-style: disc;
    margin-left: 45px;
    padding: 5px 0;
    font-family: sans-serif;
    font-weight: bold;
}
.options_descriptions {
    max-width: 300px;
    width: 100%;
}
.options_descriptions p {
    padding: 5px 0;
    font-family: sans-serif;
}
.dastination {
    max-width: 1000px;
    width: 100%;
    padding: 20px 0;
}
.dastination p {
    font-family: sans-serif;
}
/* ---------------------------------------------- */
.form-buy_button {
    max-width: 1000px;
    width: 100%;
}
.btn-buy {
    padding: 7px 30px;
    background-color: rgb(140, 40, 40);
    color: white;
    border-radius: 4px;
    font-family: sans-serif;
    transition: all .3s ease;
}
.btn-buy:hover {
    background-color: rgb(200, 155, 35);
}
/* ---------------------popUp-------------------- */
.img_box_wrapper {
    max-width: 400px;
    width: 100%;
}
.img_box {
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-45.5%) scale(0);
    transition: all .4s ease;
}
.pop_up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .7);
}
.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body {
    margin: auto;
    max-width: 700px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 40px 40px 40px 40px;
    position: relative;
}
.pop_up_body img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
    min-height: 500px;      
    height: 100%;      
    position: absolute;
}
.pop_up_close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
.img_huter:hover {
    cursor: zoom-in;
}

@media screen and (max-width: 1115px) {
    .header > .items .search_form {
        display: none;
    }
    .header > .items {
        justify-content: center;
    }
}
@media screen and (max-width: 815px) {
    .header > .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .description_box {
        text-align: center;
        padding: 0 20px;
    }
    .description_box ul li {
        list-style: none;
        margin: 0;
    }
    .form-buy_button {
        display: flex;
        justify-content: center;
    }
    .pop_up {
        top: 30px;
    }
    .dastination p {
        text-align: center;
        padding: 0 20px;
    }
}
@media screen and (max-width: 442px) {
    .container h1 {
        font-size: 1.5rem;
    }
    .description_box ul li {
        font-size: .8rem;
    }
    .options_descriptions p {
        font-size: .8rem;
    }
    .img_box_wrapper {
        max-width: 350px;
    }
}
@media screen and (max-width: 380px) {
    .description_box ul li {
        font-size: .7rem;
    }
    .options_descriptions p {
        font-size: .7rem;
    }
}
@media screen and (max-width: 348px) {
    .container h1 {
        font-size: 1.1rem;
    }
    .img_box_wrapper {
        max-width: 300px;
    }
    .description_box ul li {
        font-size: .6rem;
    }
    .options_descriptions p {
        font-size: .6rem;
    }
    .dastination p {
        font-size: .8rem;
    }
}