@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');


                        /* info_box */
.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(../images/background/elen_telephone+hummer.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* background: linear-gradient(35deg, rgb(255, 255, 255) 50%,rgb(40, 40, 40)50%) !important; */
}
.container_1_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}
.main_title_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.hummer-label {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    position: absolute;
    top: 35px;
    right: 70px;
}
.arrow-go-home {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 80px;
    width: 100%;
    min-height: 80px;
}
.title_box {
    max-width: 730px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    text-align: center;
}
.subTitle_text {
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    flex-wrap: wrap;
    margin-top: 25px;
}
.title_text {
    font-family: sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 3.7rem;
    color:rgb(255, 200, 0);
    flex-wrap: wrap;
    text-shadow: 0 0 2px black;
}                        
.contacts_header_text h2 {
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 25px;
    width: 100%;
}
.info_box {
    display: flex;
    max-width: 720px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
}
.location {
    width: 100%;
    min-height: 250px;
    height: 100%;
}
.information_box {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: 100%;
    padding: 10px; 
}
.information_box h1 {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
    color: red;
}
.information_box p {
    color: rgb(255, 255, 255);
    font-family: 'Cuprum', sans-serif;
    font-size: 1.1rem;
}
.work_time {
    display: block;
    max-width: 300px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    padding: 10px; 
}
.work_time p {
    font-family: 'Cuprum', sans-serif;
    font-size: 1rem;
    color: white;
}
.work_time h2 {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
    color: red;
}
.work_time span {
    color: red;;
    font-size: 1.1rem;
}
.requisites_box {
    width: 100%;
    min-height: 100px;
    height: 100%;
    padding: 10px; 
}
.requisites_box p {
    font-family: 'Cuprum', sans-serif;
    color: white;
}
.requisites_box h1 {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: red;
}
.requisites_box span {
    color: rgb(223, 183, 53);
    text-shadow: 1px 0 0 black;
    font-size: 1.2rem;
}



@media screen and (max-width:1025px) {
    .header {
        padding: 0 15px;
    }
    .footer_head ul {
        display: block;
        margin: 5px 0;
    }
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
}
@media screen and (max-width:975px) {
    .items h1 {
        font-size: .8rem;
    }
    .items i {
        font-size: .6rem;
    }
    .items a {
        font-size: .8rem;
    }
}
@media screen and (max-width:750px) {
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .subTitle_text {
        font-size: 1.5rem;
    }
    .title_text {
        font-size: 2rem;
    }
    .contacts_header_text h2 {
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .location {
        width: 500px;
        height: 250px;
        margin: 0 auto;
        border: none;
    }
}
@media screen and (max-width:700px) {
    .information_box {
        margin: auto;
        text-align: center;
    }
    .work_time {
        margin: auto;
        text-align: center;
    }
    .requisites_box {
        margin: auto;
        text-align: center;
    }
}
@media screen and (max-width:520px) {
    .header {
        display: flex;
        flex-wrap: nowrap;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .location {
        width: 300px;
        height: 250px;
        margin: 0 auto;
        border: none;
    }
    .subTitle_text {
        font-size: 1.2rem;
    }
    .title_text {
        font-size: 1.5rem;
    }
    .contacts_header_text h2 {
        font-size: 1.2rem;
        padding-top: 20px;
    }
    .requisites_box h1 {
        margin: 0; 
    }
}