.container_1 {
    /* background: linear-gradient(35deg,white 50%,rgb(40, 40, 40) 50%); */
    background: url(../images/background/osen-les-listva-derevia-temnyi-fon-svet.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.title_tools {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    width: 100%;
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.title_tools i {
    margin-left: 10px;
}
.tool_block_wrapper p:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: white;
}
.search_form_tools {
    position: relative;
    margin-top: 35px;
}
.search {
    width: 270px !important;
    outline: 2px solid black;
}
.search_form_tools i {
    position: absolute;
    top: 8px;
    right: 90px;
    opacity: .3;
}
.tool_box {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(4px);
    margin: 35px 0;
    flex-wrap: wrap;
    border-radius: 4px;
}
.toots_block_garden {
    width: 300px;
    height: 400px;
    background-image: url(../images/background/electric-card_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toots_block_electro {
    width: 300px;
    height: 400px;
    background-image: url(../images/background/84593dcc0c2463e05df94bc702f2c191.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toots_block_acum {
    width: 300px;
    height: 400px;
    background-image: url(../images/background/s20a00xp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    position: relative;
    top: 0;
    left: 0;
    max-width: 300px;
    width: 100%;
    min-height: 400px;
    height: 100%;
}
.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'arial';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: all .4s;
}
.overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}
.overlay:hover {
    opacity: 1;
}



@media screen and (max-width:1050px) {
    .header {
        padding: 0 25px;
    }
    .items h1 {
        font-size: 1.3rem;
    }
    .items i {
        font-size: 1rem;
    }
    .items a {
        font-size: 1.2rem;
    }
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
    .footer_head li {
        margin: 10px 10px;
    }
}
@media screen and (max-width:1024px) {
    .items h1 {
        font-size: .9rem;
    }
    .items i {
        font-size: .7rem;
    }
    .items a {
        font-size: .9rem;
    }
}
@media screen and (max-width: 900px) {
    .tool_block_wrapper {
        margin: 15px;
    }
    .toots_block_garden {
        width: 250px;
        height: 300px;
        margin: 0;
    }
    .toots_block_acum {
        width: 250px;
        height: 300px;
        margin: 0;
    }
    .toots_block_electro {
        width: 250px;
        height: 300px;
        margin: 0;
    }
    .tool_block_wrapper p:nth-child(2) {
        font-size: .8rem;
    }
    .overlay {
        top: 50px;
        height: 75%;
    }
    .overlay p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 867px) {
    .header > .items h1 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 803px) {
    .header {
        flex-wrap: nowrap;
    }
    .items {
        flex-direction: row;
        justify-content: space-between;
    }
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .search_form_tools i {
        display: none;
    }
    .title_text {
        font-size: 2.3rem;
    }
    .subTitle_text {
        font-size: 1.5rem;
    }
    .footer_content > .footer_head ul {
        display: block;
    }
    .tool_block_wrapper {
        margin: 10px;
    }
}
@media screen and (max-width: 620px) {
    .title_tools {
        font-size: 1rem;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 563px) {
    .footer_content > .footer_items_box {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 497px) {
    .title_text {
        font-size: 2rem;
    }
    .subTitle_text {
        font-size: 1.1rem;
    }
    .title_tools {
        font-size: .7rem;
        padding: 5px 10px;
    }
    .footer_head ul {
        display: block;
    }
    .footer_items_box {
        display: block;
    }
    .adress_box {
        padding: 0 20px;
    }
    .adress_box i {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 357px) {
    .title_text {
        font-size: 1.5rem;
    }
    .subTitle_text {
        font-size: 1.1rem;
    }
    .title_tools {
        font-size: .6rem;
        padding: 5px 5px;
    }
    .search_form_tools {
        width: 280px;
    }
    .search {
        width: 190px !important;
    }
}