.container_1 {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background:linear-gradient(65deg,white 50%,rgb(40, 40, 40) 50%) !important;
}
.container_1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}
.wrapper_privacity_box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    border: 4px solid rgb(255, 255, 255);
    background-color: burlywood;
    padding: 15px 20px;
    margin: 30px 0;
}
.text_1 {
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
}
.text_1 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(0, 0, 70);
}
.v-date {
    width: 100%;
}
.wrapper_privacity_box ul li{
    list-style:disc;
    margin-left: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(143, 0, 0);
    font-size: 1rem;
}
.wrapper_privacity_box h2 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 82);
    font-size: 1rem;
    font-weight: bold;
}
.wrapper_privacity_box p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-indent: 15px;
}

@media screen and (max-width: 1060px) {
    .hummer-label {
        display: none;
    }
    .arrow-go-home {
        display: none;
    }
}
@media screen and (max-width:1025px) {
    .header {
        padding: 0 15px;
    }
    .subTitle_text {
        font-size: 1.5rem !important;
    }
    .title_text {
        font-size: 2.5rem !important;
    }
    .footer_head ul {
        display: block;
        margin: 5px 0;
    }
}
@media screen and (max-width:975px) {
    .items h1 {
        font-size: .8rem !important;
    }
    .items i {
        font-size: .6rem !important;
    }
    .items a {
        font-size: .8rem !important;
    }
}
@media screen and (max-width:845px) {
    .items ul li {
        padding: 0 !important;
        border-right: none !important;
    }
}
@media screen and (max-width:760px) {
    .items ul {
        display: none;
    }
    .burger_wrapper {
        width: 35px;
        height: 25px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        height: 3px;
        background: white;
    }
    .subTitle_text {
        font-size: 1.5rem !important;
    }
    .title_text {
        font-size: 2rem !important;
    }
}
@media screen and (max-width:540px) {
    .header {
        display: flex;
        flex-wrap: nowrap;
    }
    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .subTitle_text {
        font-size: 1rem !important;
    }
    .title_text {
        font-size: 1.3rem !important;
    }
    .text_1 h1 {
        font-size: 1rem !important;
    }
    .wrapper_privacity_box p {
        font-size: .8rem;
    }
    .wrapper_privacity_box ul li {
        margin-left: 35px;
        font-size: .8rem;
    }
}
