.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    top: 0;
    z-index: 100;
    transition: transform .3s linear;
    position: fixed;
    padding: 0 25px;
}
.burger_wrapper {
    width: 33px;
    height: 25px;
    padding: 2px;
    display: none;
}
.line {
    width: 100%;
    height: 3px;
    background: white;
}
.header.hide {
    transform: translateY(-70px);
}
.items {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0;
}
.items ul li {
    display: inline-block;
    margin-right: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
}
.items ul li:last-child {
    margin-right: 0;
    border-right: none;
}
.items ul li a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 1px 0 2px black;
    transition: all .3s ease;
    text-decoration: none;
}
.items ul {
    padding: 0;
    margin: 0;
}
.items ul li a:hover {
    color: goldenrod;
}
.items i {
    margin-right: 5px;
    color: goldenrod;
}
.search_form {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .search i {
    position: absolute;
    top: 8px;
    left: 205px;
    color: black;
}
.search_form i {
    position: absolute;
    top: 8px;
    left: 62%;
    color: black;
    opacity: .3;
}
.search {
    height: 30px;
    border-radius: 40px 0 0 40px;
    border: 1px solid white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.search::placeholder {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    font-weight: 300;
}
.search-btn {
    background: rgb(120, 40, 40);
    color: white;
    padding: 3px 15px;
    border-radius:  0 4px 4px 0;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease;
}
.search-btn:hover {
    background: goldenrod;
    cursor: pointer;
    color: black;
}

